.contact__leftoval {
  background-color: #9ec1ff;
  filter: blur(386px);
  height: 569.37px;
  width: 720.29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60%;
}
.contact__rightoval {
  background-color: #6436e4;
  filter: blur(10px);
  height: 332.7px;
  width: 589.95px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60%;
}
.contact__rightoval_dark {
  width: 768.31px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60%;
  filter: blur(50px);

  height: 751.16px;
  background-color: #3479fd;
}

.contact__midOval {
  width: 246.96px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60%;
  filter: blur(100px);

  height: 246.96px;
  background-color: #3479fd;
}
