.devices {
  header {
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1536px) {
  .devices__card-description {
    font-size: 18px;
    line-height: 28.8px;
  }
  .devices__card-vid0 {
    width: 384.38px;
    height: 410px;
  }
  .devices__card-vid1 {
    width: 256.25px;
    height: 410px;
  }
  .devices__card-vid2 {
    width: 256.25px;
    height: 410px;
  }
  .devices__card-vid3 {
    width: 256.25px;
    height: 410px;
  }
  .devices__card-vid4 {
    width: 256.25px;
    height: 410px;
  }
  .devices__card-vid5 {
    width: 256.25px;
    height: 410px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .devices__card-description {
    font-size: 16px;
    line-height: 25.6px;
  }
  .devices__card-vid0 {
    width: 328.13px;
    height: 350px;
  }

  .devices__card-vid1 {
    width: 218.75px;
    height: 350px;
  }
  .devices__card-vid2 {
    width: 218.75px;
    height: 350px;
  }
  .devices__card-vid3 {
    width: 218.75px;
    height: 350px;
  }
  .devices__card-vid4 {
    width: 218.75px;
    height: 350px;
  }
  .devices__card-vid5 {
    width: 218.75;
    height: 350px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .devices__card-description {
    font-size: 18px;
    line-height: 165%;
  }
  .devices__card-vid0 {
    width: 267.19px;
    height: 285px;
  }
  .devices__card-vid1 {
    width: 178.13px;
    height: 285px;
  }
  .devices__card-vid2 {
    width: 178.13px;
    height: 285px;
  }
  .devices__card-vid3 {
    width: 178.13px;
    height: 285px;
  }
  .devices__card-vid4 {
    width: 178.13px;
    height: 285px;
  }
  .devices__card-vid5 {
    width: 178.13px;
    height: 285px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .devices__card-description {
    font-size: 10px !important;
    line-height: 16px;
  }
  .devices__card-vid0 {
    width: 234.38px;
    height: 250px;
  }

  .devices__card-vid0 {
    width: 156.25px;
    height: 250px;
  }

  .devices__card-vid1 {
    width: 156.25px;
    height: 250px;
  }
  .devices__card-vid2 {
    width: 156.25px;
    height: 250px;
  }
  .devices__card-vid3 {
    width: 156.25px;
    height: 250px;
  }
  .devices__card-vid4 {
    width: 156.25px;
    height: 250px;
  }
  .devices__card-vid5 {
    width: 156.25px;
    height: 250px;
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .devices__card-description {
    font-size: 12px;
    line-height: 16px;
  }
  .devices__card-vid0 {
    width: 234.38px;
    height: 250px;
  }
  .devices__card-vid1 {
    width: 156.25px;
    height: 250px;
  }
  .devices__card-vid2 {
    width: 156.25px;
    height: 250px;
  }
  .devices__card-vid3 {
    width: 156.25px;
    height: 250px;
  }
  .devices__card-vid4 {
    width: 156.25px;
    height: 250px;
  }
  .devices__card-vid5 {
    width: 156.25px;
    height: 250px;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .devices__card-description {
    font-size: 12px;
    line-height: 160%;
    line-height: 16px;
  }
  .devices__card-vid0 {
    width: 180px;
    height: 192px;
  }
  .devices__card-vid1 {
    width: 106.25px;
    height: 170px;
  }
  .devices__card-vid2 {
    width: 106.25px;
    height: 170px;
  }
  .devices__card-vid3 {
    width: 106.25px;
    height: 170px;
  }
  .devices__card-vid4 {
    width: 106.25px;
    height: 170px;
  }
  .devices__card-vid5 {
    width: 106.25px;
    height: 170px;
  }
}
