.dark .developerBenefit__topGradient {
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, #4b0fbb 0%, #4b0fbb 90%);
  /* background-color: #4b0fbb; */
  margin-left: 0;
  opacity: 50%;

  border-radius: 50%;
  filter: blur(40px);

  margin-right: auto;
}
.dark .developerBenefit__bottomGradient {
  width: 350px;
  height: 350px;
  background: radial-gradient(circle, #4b10b8 0%, #4b10b8 50%, #4b10b8 90%);
  margin-left: 0;
  filter: blur(40px);

  opacity: 50%;
  border-radius: 50%;
  margin-right: auto;
}

.developerBenefit__bottomGradient {
  width: 350px;
  height: 350px;
  background: radial-gradient(circle, #6436e4 0%, rgba(255, 255, 255, 0.9) 70%);
  margin-left: 0;
  opacity: 25%;
  border-radius: 50%;
  margin-right: auto;
}
.developerBenefit__topGradient {
  width: 350px;
  height: 350px;
  background: radial-gradient(circle, #9ec1ff 0%, rgba(255, 255, 255, 0.9) 70%);

  margin-left: 0;
  opacity: 50%;
  border-radius: 50%;

  margin-right: auto;
}
.developerBenefit__oval {
  background-color: #32cafd;
  opacity: 100%;
  filter: blur(700px);
  height: 340px;
  width: 280px;
  border-radius: 40%;
}
